@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardPublicFieldsLayout.cshtml";
}

<div class="row row-sm ">
    <div class="col-md-12 col-xl-12">
        <div class="card overflow-hidden review-project">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-10">Products</h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>

                <button type="submit" class="btn btn-success btnNew">Yeni Ürün</button>

                <p class="tx-12 text-muted mb-3"></p>
                <div class="table-responsive mb-0">
                    <table class="table table-hover table-bordered mb-0 text-md-nowrap text-lg-nowrap text-xl-nowrap table-striped ">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Ürün Adı</th>
                                <th>Kategori</th>
                                <th>Fiyat</th>
                                <th>Oluşturma Tarihi</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="avatar avatar-sm d-none d-sm-flex bg-teal rounded-circle">
                                        PR
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>Web Design</td>
                                <td>1200 TL</td>
                                <td>15 March 2020</td>
                                <td>
                                    <button type="submit" class="btn btn-danger btnUpdate" style="color:white;"><i class="fa fa-bolt"></i></button>
                                    <button type="submit" class="btn btn-danger btnDelete" style="color:white;"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Product.js --->
<script src="@Url.Content("~/Scripts/Views/Product/Product.js")"></script>